/* login page */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6fa;
}

.login-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-header {
    background-color: #362C64;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.login-body {
    padding: 2rem;
}

.login-btn {
    background-color: #362C64;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.login-forgot-password {
    color: #362C64;
    text-align: center;
    display: block;
    margin-top: 1rem;
}


/* Input field styles */

input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
}