.flex {
    display: flex;
}

/* NAVBAR */

.padding_navbar{
    padding-top: 10vh

}

.navbar {
    position: fixed !important;
    font-size: 1rem;
    height: 10vh;
    width: 100%;
    background-color: #362C64;
    z-index: 1;
}

.navbar-brand {
    height: 100%;
    width: 7.5vw;
}

.navbar-brand img {
    height: 100%;
    width: 100%;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
}

/* MENU */

.menu_left {
    background-color: white;
    width: 25%;
    height: 90vh;
}

.menu_left .menu_main { 
    padding: 5vh 2.5vw;
}

.menu_left .menu_main .menu_menu {
    justify-content: space-between;
    padding-bottom: 4vh;
}

.menu_left .menu_main .btn-group-vertical{
    width: 100%;
}
.menu_left .menu_main a{
    width: 100%; 
    font-size: 1.25rem;
    padding: 2vh 0;
    text-decoration: none;
    color: black;
    list-style: none;  
    border-radius: 0;
}

.menu_left .menu_main a:hover{
    background-color: rgb(230, 230, 230);
}

.menu_left .menu_main a img{
    padding-right: 2vw;
}

/* DASHBOARD */

.dashboard_container {
    display: flex;
}

.dashboard_main {
    padding: 2.5vh 1.75vw; 
    background-color: #EFEFEF;
    width: 100%;
    min-height: 90vh;
    gap: 1.75vw;
}

.dashboard_main .container {
    background-color: white;
    margin-bottom: 2.5vh;
    width: 100%;
    height: 40vh;
    border-radius: 10px;
}