.flex {
    display: flex;
}

.active {
    background-color: #EBEBEB;
}
 
.main_side_menu {
    margin-left: 20%;
    padding: 2vh 1vw; 
    background-color: #EFEFEF;
    width: 100%;
    min-height: 90vh;
    gap: 1.75vw;
}

.main_side_menu a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #362C64;
    padding: 1.25vh 1.5vw;
    border-radius: 10px;
}

.main_side_menu a:hover {
    background-color: #3f3763;
    transition: 1s;
}
 
.main_side_menu .container {
    padding: 1.5vh 1vw;
}
 
.main_side_menu .container .data_container {
    width: 100%;
    height: 75vh;
    border-radius: 10px;
    border: 1px solid black;
}
 
.main_side_menu .modal-dialog {
    margin-top: 25vh;
} 

.red {
    background-color: red; 
}

.blue {
    background-color: blue; 
}

.yellow {
    background-color: yellow; 
}

.btn-primary {
    background-color: #362C64 !important;
    border: none !important;
}

/* NAVBAR */

.padding_navbar{
    padding-top: 10vh

}

.navbar {
    position: fixed !important;
    font-size: 1rem;
    height: 10vh;
    width: 100%;
    background-color: #362C64;
    z-index: 1;
}

.navbar-brand {
    height: 100%;
    width: 7.5vw;
}

.navbar-brand img {
    height: 100%;
    width: 100%;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
}

/* MENU */

.menu_left {
    background-color: white;
    width: 20%;
    height: 90vh;
    position: fixed;
}

.menu_left .menu_main {
    padding: 5vh 2.5vw;
}

.menu_left .menu_main .menu_menu {
    justify-content: space-between;
    padding-bottom: 4vh;
    font-size: 1rem;
}

.menu_left .menu_main .menu_menu h2 {
    font-size: 1.5rem;
}

.menu_left .menu_main .menu_item{
    width: 100%;
}
.menu_left .menu_main .menu_item a{
    width: 100%; 
    font-size: 1.25rem;
    padding: 2vh 0;
    text-decoration: none;
    color: black;
    list-style: none;  
    border-radius: 0;
    text-align: left;
    font-size: 1rem;
    padding-left: 1vw;
}

.menu_left .menu_main .menu_item a:hover{
    background-color: #EBEBEB;
    transition: 0.2s;
}

.menu_left .menu_main .menu_item a img{
    padding-right: 2vw;
}

/* DASHBOARD */ 

.dashboard_main .container {
    background-color: white;
    margin-bottom: 2.5vh;
    width: 100%;
    height: 40vh;
    border-radius: 10px;
}

/* PERMOHONAN */

.permohonan_main .container {
    background-color: white; 
    width: 100%;
    height: 85vh;
    border-radius: 10px;
}